<!--News List Card-->
<div class="card shadow my-4 mx-2 mx-md-5">

    <!--News List Card Header-->
    <div class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-light">Notícias</h6>
        <!--Register News Button and Form-->
        {{registerForm}}
    </div>


    <!--News List Card Body-->
    <div class="card-body d-flex flex-column align-items-center border border-white position-relative">
        <div id="newsCardOverlay" class="overlay card-overlay" style="display:grid;">
            <div class="spinner-border text-light" role="status"><span class="sr-only"></span></div>
        </div>
        <!--News List Container-->
        <div id="newsListContainer" class="w-100 px-3 d-flex flex-column"></div>
        <h5 class="d-none error-message text-center"></h5>
    </div>




    <!--News List Card Footer-->
    <div id="newsCardFooter" class="card-footer">
        <!--News List Pagination-->
        <nav id="newsPaginationContainer" class="justify-content-center" aria-label="Page navigation example">
            <ul class="pagination m-0 justify-content-center" style="cursor: pointer;"></ul>
        </nav>
    </div>

</div>



{{editForm}}


<!--News Item Template-->
<template id="newsItemTemplate">

    <div class="card mb-4 p-0 news-card bg-white">

        <div class="news-card-content d-flex flex-column flex-lg-row">

            <img src="" class="news-image col-12 col-lg-4 p-0">

            <div class="info d-flex flex-column justify-content-center col-12 col-lg-4 p-3">
                <h5 class="news-title text-dark w-100 pb-1" 
                    style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                </h5>
                <p class="news-author card-text text-dark w-100"><i class="fas fa-user"></i>&nbsp;
                </p>
                <p class="news-scheduling-date card-text text-dark w-100 ">
                    <i class="fas fa-calendar-days"></i>&nbsp;
                    <small class="text-dark"></small>
                </p>
                <p class="news-scheduling-time card-text text-dark w-100 ">
                    <i class="fas fa-clock"></i>&nbsp;
                    <small class="text-dark"></small>
                </p>
            </div>

            <div
                class="d-flex flex-wrap flex-lg-nowrap justify-content-center col-12 col-lg-4 p-3 align-items-lg-start">

                <button type="button" class="delete-news-button btn text-dark" data-placement="bottom"
                    title="Excluir notícia">
                    <i class="fas fa-trash-alt"></i>
                </button>

                <button type="button" class="edit-news-button btn text-dark" data-placement="bottom"
                    title="Editar notícia" data-toggle="modal" data-target="#editNewsModal">
                    <i class="fas fa-pencil-alt"></i>
                </button>

                <button type="button" class="preview-news-button btn text-dark" data-placement="bottom" title="Visualizar">
                    <i class="fas fa-external-link-alt"></i>
                </button>

                <button type="button" class="highlighted-news-button btn text-dark" data-placement="bottom">
                    <i class="highlighted-news-icon fa-star"></i>
                    <form class="highlighted-news-form" style="display: none;">
                        <input class="highlighted-news-input" type="checkbox" />
                    </form>
                </button>

                <button type="button" class="visible-news-button btn text-dark" data-placement="bottom">
                    <i class="visible-news-icon fa-solid"></i>
                    <form class="visible-news-form" style="display: none;">
                        <input class="visible-news-input" type="checkbox" />
                    </form>
                </button>

            </div>

        </div>
    </div>
</template>



<!-- News List Pagination Script-->
<script>

    const newsPerPage = 6;
    const shownPaginationItemLimit = 3;
    const newsItemTemplate = document.getElementById('newsItemTemplate');
    const newsListContainer = document.getElementById('newsListContainer');
    const newsPaginationContainer = document.getElementById('newsPaginationContainer');


    //FUNÇÃO PARA BUSCAR NOTÍCIAS CADASTRADAS
    async function getAllNews() {

        try {
            let response = await fetch("/news/all", {
                method: "GET"
            });

            return await response.json();

        } catch (error) {
            return {
                success: false,
                message: "Não foi possível carregar as notícias. Tente novamente mais tarde."
            }
        }
    }


    //FUNÇÃO PARA PREENCHER OS CARDS DE NOTÍCIA A PARTIR DE UM TEMPLATE
    async function fillNewsCards() {

        //BUSCANDO NOTÍCIAS
        let response = await getAllNews();

        //SE A BUSCA FOR EXITOSA E HOUVER NOTÍCIAS CADASTRADAS
        if (response.success && response.data.length > 0) {

            //ITERA SOBRE O OBJETO DE NOTÍCIAS
            response.data.forEach((news) => {

                //CARD DE NOTÍCIA
                const newsId = news.id;
                const clone = document.importNode(newsItemTemplate.content, true);
                const newsCardContent = clone.querySelector('.news-card-content');
                newsCardContent.id = `newsCardContent${newsId}`;


                //IMAGEM
                const newsImage = clone.querySelector('.news-image');
                newsImage.src = news.imagePath;
                newsImage.onclick = function () { window.open(`/news/preview/${newsId}`, '_blank'); };


                //TÍTULO, AUTOR E DATA DE REGISTRO/AGENDAMENTO
                clone.querySelector(".news-title").innerHTML = news.title;
                clone.querySelector(".news-author").innerHTML += news.author;
                clone.querySelector(".news-scheduling-date").querySelector("small").innerHTML += news.schedulingDate;
                clone.querySelector(".news-scheduling-time").querySelector("small").innerHTML += news.schedulingTime;
                const info = clone.querySelector('.info');
                info.onclick = function () { window.open(`/news/preview/${newsId}`, '_blank'); };


                //BOTÃO DE DELEÇÃO
                const deleteButton = clone.querySelector(".delete-news-button");
                deleteButton.addEventListener("click", async (event) => {
                    event.preventDefault();
                    createDeleteEvent(newsId);
                });
                $(deleteButton).tooltip();


                //BOTÃO DE EDIÇÃO
                const editButton = clone.querySelector(".edit-news-button");
                editButton.addEventListener("click", async (event) => {
                    event.preventDefault();
                    fillEditNewsForm(newsId);
                });
                $(editButton).tooltip();
                $(editButton).on("click", () => {
                    $("body").css("overflow-y", "hidden");
                    $('#editNewsModal').modal({
                        focus: false
                    });
                });


                //BOTÃO DE PREVIEW
                const previewButton = clone.querySelector('.preview-news-button');
                previewButton.onclick = function () { window.open(`/news/preview/${newsId}`, '_blank'); };
                $(previewButton).tooltip();


                //BOTÃO DE MUDANÇA DE STATUS DE DESTAQUE
                const highlightedButton = clone.querySelector(".highlighted-news-button");
                highlightedButton.title = news.highlightedButtonTitle;

                const highlightedIcon = highlightedButton.querySelector("i");
                highlightedIcon.classList.add(news.highlightedButtonClass);

                const newsHighlightedInput = highlightedButton.querySelector(".highlighted-news-input");
                newsHighlightedInput.name = "highlighted-input-" + newsId;
                newsHighlightedInput.checked = news.highlighted;

                highlightedButton.addEventListener("click", async (event) => {
                    event.preventDefault();
                    newsHighlightedInput.checked = !newsHighlightedInput.checked
                    createHighlightedEvent(newsHighlightedInput, newsId);
                });
                $(highlightedButton).tooltip();


                //BOTÃO DE MUDANÇA DE STATUS DE VISIBILIDADE
                const visibleButton = clone.querySelector(".visible-news-button");
                visibleButton.title = news.visibleButtonTitle;

                const visibleIcon = visibleButton.querySelector("i");
                visibleIcon.classList.add(news.visibleButtonClass);

                const newsVisibleInput = visibleButton.querySelector(".visible-news-input");
                newsVisibleInput.name = "visible-input-" + newsId;
                newsVisibleInput.checked = news.visible;

                visibleButton.addEventListener("click", async (event) => {
                    event.preventDefault();
                    newsVisibleInput.checked = !newsVisibleInput.checked;
                    createVisibleEvent(newsVisibleInput, newsId);
                });
                $(visibleButton).tooltip();


                //ADICIONA CARD AO CONTEINER NOTÍCIA
                const element = clone.children[0];
                newsListContainer.appendChild(element);
            });


        } else {

            //MENSAGEM DE ERRO
            var newsListContainerErrorMessage = newsListContainer.parentNode.querySelector(".error-message")
            newsListContainerErrorMessage.innerHTML = response.message;
            newsListContainerErrorMessage.classList.add("d-flex");
            newsListContainerErrorMessage.classList.remove("d-none");
        }
    }



    //FUNÇÃO PARA RENDERIZAR UMA PÁGINA DE NOTÍCIAS
    function renderNewsPage(page) {

        const newsCards = newsListContainer.querySelectorAll(".news-card");

        //PRIMEIRO ÍNDICE (INCLUSIVO) PARA ITERAÇÃO NA RENDERIZAÇÃO DE UMA PÁGINA DE NOTÍCIAS
        const firstIndex = (page - 1) * newsPerPage

        //ÚLTIMO ÍNDICE (EXCLUSIVO) APARENTE PARA ITERAÇÃO NA RENDERIZAÇÃO DE UMA PÁGINA DE NOTÍCIAS
        const defaultLastIndex = newsPerPage * page;

        //ÚLTIMO ÍNDICE (EXCLUSIVO) REAL PARA ITERAÇÃO NA RENDERIZAÇÃO DE UMA PÁGINA DE NOTÍCIAS
        const lastIndex = (newsCards.length < defaultLastIndex) ? newsCards.length : defaultLastIndex;


        newsCards.forEach((card, index) => {
            if (!card.classList.contains("d-none")) {
                card.classList.add("d-none");
            }

            if (index >= firstIndex && index < lastIndex) {
                card.classList.remove("d-none");
            }
        });


        renderPaginationItems(newsCards.length, page)


        //RETIRA O DESTAQUE DO ITEM DE PAGINAÇÃO EM DESTAQUE, SE HOUVER
        newsPaginationContainer.querySelectorAll(".active").forEach((selectedItem) => {
            selectedItem.classList.remove("active");
        });


        newsPaginationContainer.querySelectorAll(".page-link").forEach((item) => {
            if (item.innerText == page) {
                item.parentElement.classList.add("active");
            }
        });
    }



    //FUNÇÃO PARA RENDERIZAR OS ITENS DA PAGINAÇÃO
    function renderPaginationItems(newsQuantity, page) {

        const totalPages = newsQuantity == 0 ? 1 : Math.ceil(newsQuantity / newsPerPage);
        const lastInterval = Math.ceil(totalPages / shownPaginationItemLimit);
        const shownInterval = Math.ceil(page / shownPaginationItemLimit);
        const lastIndex = shownInterval * shownPaginationItemLimit;
        const firstIndex = lastIndex - shownPaginationItemLimit + 1;

        var paginationList = newsPaginationContainer.querySelector(".pagination");
        paginationList.innerHTML = "";


        //BOTÃO "ANTERIOR"
        var previousItem = document.createElement("li");
        previousItem.classList.add("page-item");
        if(shownInterval == 1){
            if(!previousItem.classList.contains("d-none")){
                previousItem.classList.add("d-none");
            }
        } else {
            if(previousItem.classList.contains("d-none")){
                previousItem.classList.remove("d-none");
            }
        }
        previousItem.id = "paginationPreviousItem";
        previousItem.title = "Páginas anteriores"
        $(previousItem).tooltip();


        var previousItemAnchor = document.createElement("a");
        previousItemAnchor.classList.add("page-link");
        previousItemAnchor.style.color = "var(--black)";
        previousItemAnchor.innerText = "<<";

        previousItem.appendChild(previousItemAnchor);
        previousItem.addEventListener("click", () => {
            onClickPreviousPaginationItem(totalPages)
        });
        paginationList.appendChild(previousItem);





        //BOTÕES NUMÉRICOS DAS PÁGINAS
        for (let i = 1; i <= totalPages; i++) {

            var paginationItem = document.createElement("li");
            paginationItem.classList.add("page-item");
            paginationItem.classList.add("page-number");
            if (i < firstIndex || i > lastIndex) {
                paginationItem.classList.add("d-none");
            }

            var paginationItemAnchor = document.createElement("a");
            paginationItemAnchor.classList.add("page-link");
            paginationItemAnchor.style.color = "var(--black)";
            paginationItemAnchor.innerText = i;

            paginationItem.appendChild(paginationItemAnchor);

            paginationItem.addEventListener("click", (event) => {
                event.preventDefault();
                window.scrollTo({ top: 0, behavior: "smooth" });

                renderNewsPage(i)
            });

            paginationList.appendChild(paginationItem);
        }


        //BOTÃO "PRÓXIMO"
        var nextItem = document.createElement("li");
        nextItem.classList.add("page-item");
        if(shownInterval == lastInterval){
            if(!nextItem.classList.contains("d-none")){
                nextItem.classList.add("d-none");
            }
        } else {
            if(nextItem.classList.contains("d-none")){
                nextItem.classList.remove("d-none");
            }
        }

        if (totalPages <= shownPaginationItemLimit) {
            nextItem.classList.add("d-none");
        }
        nextItem.id = "paginationNextItem";
        nextItem.title = "Próximas páginas"
        $(nextItem).tooltip();

        var nextItemAnchor = document.createElement("a");
        nextItemAnchor.classList.add("page-link");
        nextItemAnchor.style.color = "var(--black)";
        nextItemAnchor.innerText = ">>";

        nextItem.appendChild(nextItemAnchor);

        //AO CLICAR NO BOTÃO PRÓXIMO
        nextItem.addEventListener("click", (event) => {
            event.preventDefault();
            onClickNextPaginationItem(totalPages)
        });

        paginationList.appendChild(nextItem);



        //SE HOUVER APENAS UMA PÁGINA, ESCONDE O FOOTER DO CARD
        let newsCardFooter = document.querySelector("#newsCardFooter");
        if(totalPages == 1){
            if(!newsCardFooter.classList.contains("d-none")){
                newsCardFooter.classList.add("d-none");
            }
        } else {
            if(newsCardFooter.classList.contains("d-none")){
                newsCardFooter.classList.remove("d-none");
            }
        }
    }

    

    //FUNÇÃO CHAMADA QUANDO O BOTÃO DE PÁGINAS ANTERIORES É CLICADO
    function onClickPreviousPaginationItem(totalPages) {

        //CAPTURA TODOS OS ITENS NUMÉRICOS DE PAGINAÇÃO ATUALMENTE MOSTRADOS
        var paginationList = newsPaginationContainer.querySelector(".pagination");
        let shownPaginationItems = paginationList.querySelectorAll(".page-number:not(.d-none)");

        //SE HOUVER ALGUM ITEM NUMÉRICO DE PAGINAÇÃO MOSTRADO
        if (shownPaginationItems.length > 0) {

            //CAPTURA O NÚMERO DO PRIMEIRO ITEM DE PAGINAÇÃO MOSTRADO
            let fisrtShownPaginationItem = shownPaginationItems[0];
            let firstShownPage = parseInt(fisrtShownPaginationItem.querySelector(".page-link").innerText, 10);

            //CAPTURA TODOS OS ELEMENTOS NUMÉRICOS DE PAGINAÇÃO
            let paginationItems = paginationList.querySelectorAll(".page-number");
            //ITERA SOBRE OS ELEMENTOS CAPTURADOS
            paginationItems.forEach((item, index) => {
                //ESCONDE TODOS OS ELEMENTOS
                if (!item.classList.contains("d-none")) {
                    item.classList.add("d-none");
                }

                //MOSTRA APENAS OS ELEMENTOS DO INTERVALO ANTERIOR A SER MOSTRADO
                if (index >= firstShownPage - shownPaginationItemLimit - 1  && index < firstShownPage - 1) {
                    item.classList.remove("d-none");
                }
            });

            var previousItem = document.querySelector("#paginationPreviousItem");

            //ESCONDE O BOTÃO "ANTERIOR" SE ESTIVER NA PRIMEIRA PÁGINA
            if (firstShownPage == shownPaginationItemLimit + 1) {
                if (!previousItem.classList.contains("d-none")) {
                    previousItem.classList.add("d-none");
                }
            } 

            var nextItem = document.querySelector("#paginationNextItem");

            //MOSTRA O BOTÃO "PRÓXIMO"
            if (nextItem.classList.contains("d-none")) {
                nextItem.classList.remove("d-none");
            }
        }


    }


    
    //FUNÇÃO CHAMADA QUANDO O BOTÃO DE PÁGINAS POSTERIORES É CLICADO
    function onClickNextPaginationItem(totalPages) {

        //CAPTURA TODOS OS ITENS NUMÉRICOS DE PAGINAÇÃO ATUALMENTE MOSTRADOS
        var paginationList = newsPaginationContainer.querySelector(".pagination");
        let shownPaginationItems = paginationList.querySelectorAll(".page-number:not(.d-none)");

        //SE HOUVER ALGUM ITEM NUMÉRICO DE PAGINAÇÃO MOSTRADO
        if (shownPaginationItems.length > 0) {

            //CAPTURA O NÚMERO DO ÚLTIMO ITEM DE PAGINAÇÃO MOSTRADO
            let lastShownPaginationItem = shownPaginationItems[shownPaginationItems.length - 1];
            let lastShownPage = parseInt(lastShownPaginationItem.querySelector(".page-link").innerText, 10);

            //CAPTURA TODOS OS ELEMENTOS NUMÉRICOS DE PAGINAÇÃO
            let paginationItems = paginationList.querySelectorAll(".page-number");
            //ITERA SOBRE OS ELEMENTOS CAPTURADOS
            paginationItems.forEach((item, index) => {
                //ESCONDE TODOS OS ELEMENTOS
                if (!item.classList.contains("d-none")) {
                    item.classList.add("d-none");
                }

                //MOSTRA APENAS OS ELEMENTOS DO PRÓXIMO INTERVALO A SER MOSTRADO
                if (index >= lastShownPage && index < lastShownPage + shownPaginationItemLimit) {
                    item.classList.remove("d-none");
                }
            });

            var previousItem = document.querySelector("#paginationPreviousItem");

            //MOSTRA O BOTÃO "ANTERIOR"
                if (previousItem.classList.contains("d-none")) {
                    previousItem.classList.remove("d-none");
                }

            var nextItem = document.querySelector("#paginationNextItem");

            //ESCONDE O BOTÃO "PRÓXIMO" SE ESTIVER NA ÚLTIMA PÁGINA
            if (lastShownPage + shownPaginationItemLimit >= totalPages) {
                if (!nextItem.classList.contains("d-none")) {
                    nextItem.classList.add("d-none");
                }
            }
        }

    }



    //QUANDO O DOCUMENTO ESTIVER CARREGADO
    document.addEventListener("DOMContentLoaded", async () => {
        modalOverlay("on", "newsCardOverlay");
        await fillNewsCards();
        await renderNewsPage(1);
        modalOverlay("off", "newsCardOverlay");
    });


</script>



<!--Delete News Script-->
<script>

    function createDeleteEvent(newsId) {

        Swal.fire({
            text: "Você tem certeza que deseja excluir essa notícia?",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Confirmar",
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
            customClass: {
                confirmButton: "btn-primary",
                cancelButton: "btn-danger"
            },
        }).then(async (result) => {

            if (result.isConfirmed) {

                Swal.fire({
                    title: "Exluindo notícia...",
                    didOpen: async () => {
                        Swal.showLoading();
                    },
                    allowOutsideClick: () => !Swal.isLoading(),
                    backdrop: "rgba(0,0,0,0.7)",
                    background: "#f2f2f2",
                });



                const response = await deleteNews(newsId);


                if (response.success) {

                    Swal.fire({
                        title: "<h3>Notícia excluída com sucesso!</h3>",
                        icon: "success",
                        iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        }
                    }).then(() => {
                        const newsCardContent = document.querySelector(`#newsCardContent${newsId}`);
                        newsCardContent.parentElement.remove();
    
    
                        let pageNumber = parseInt(newsPaginationContainer.querySelector(".active").querySelector(".page-link").innerText, 10);
                        let shownNewsCards = newsListContainer.querySelectorAll(".news-card:not(.d-none)"); 
                        if(shownNewsCards.length == 0){
                            if(pageNumber == 1){
                                window.location.reload();
                            } else {
                                renderNewsPage(pageNumber - 1);
                            }
                        } else {
                            renderNewsPage(pageNumber);
                        }

                    });

                } else {
                    Swal.fire({
                        title: "<h3>Falha ao excluir notícia!</h3>",
                        html: response.message,
                        icon: "error",
                        iconHtml: `<i class="fas fa-times-circle text-danger"></i>`,
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        },
                    }).then(() => {
                        window.location.reload()
                    });
                }
            }
        });

    }


    async function deleteNews(newsId) {
        try {
            const response = await fetch("/news/delete/" + newsId, {
                method: "POST",
            });

            return await response.json();

        } catch (error) {
            return {
                success: false,
                message: "Erro na conexão. Por favor, recarregue a página e tente novamente."
            };
        }
    }

</script>



<!-- News Highlighted Script-->
<script>

    function createHighlightedEvent(newsHighlightedInput, newsId) {

        Swal.fire({
            text: `Deseja ${newsHighlightedInput.checked ? "adicionar notícia aos" : "remover notícia dos"} destaques?`,
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Confirmar",
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
            customClass: {
                confirmButton: "btn-primary",
                cancelButton: "btn-danger"
            }

        }).then(async (result) => {

            if (result.isConfirmed) {

                Swal.fire({
                    title: `${newsHighlightedInput.checked ? "Adicionando notícia aos" : "Removendo notícia dos"} destaques...`,
                    didOpen: async () => {
                        Swal.showLoading();
                    },
                    allowOutsideClick: () => !Swal.isLoading(),
                    backdrop: "rgba(0,0,0,0.7)",
                    background: "#f2f2f2",
                });


                const response = await editHighlighted(newsHighlightedInput, newsId);


                if (response.success) {

                    Swal.fire({
                        title: `<h3>Notícia ${newsHighlightedInput.checked ? "adicionada aos" : "removida dos"} destaques!</h3>`,
                        icon: "success",
                        iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        },
                    });

                    //Updating Highlighted State
                    const newsCardContent = document.querySelector(`#newsCardContent${newsId}`);
                    const cardHighlightedButton = newsCardContent.querySelector(".highlighted-news-button");
                    const cardHighlightedIcon = cardHighlightedButton.querySelector("i");
                    const highlighted = newsHighlightedInput.checked;
                    cardHighlightedIcon.classList = `highlighted-news-icon fa-star fa-${highlighted ? "solid" : "regular"}`;
                    cardHighlightedButton.title = highlighted ? "Remover dos destaques" : "Colocar em destaque";
                    $(cardHighlightedButton).tooltip('dispose').tooltip();

                } else {
                    Swal.fire({
                        title: `<h3>Falha ao ${newsHighlightedInput.checked ? "adicionar notícia aos" : "remover notícia dos"} destaques!</h3>`,
                        html: response.message,
                        icon: "error",
                        iconHtml: `<i class="fas fa-times-circle text-danger"></i>`,
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        },
                    }).then(() => {
                        window.location.reload()
                    });
                }

            } else {
                newsHighlightedInput.checked = !newsHighlightedInput.checked;
            }
        });
    }



    async function editHighlighted(newsHighlightedInput, newsId) {

        let highlighted = newsHighlightedInput.checked ? "yes" : "no";

        const formData = new FormData();

        formData.set("newsId", newsId);
        formData.set("highlighted", highlighted);

        try {

            let response = await fetch("/news/change-highlighted", {
                method: "POST",
                body: formData,
            });

            return await response.json();
        }

        catch (error) {
            return {
                success: false,
                message: "Erro na conexão. Por favor, recarregue a página e tente novamente."
            };
        }
    }

</script>



<!-- News Visible Script -->
<script>

    function createVisibleEvent(newsVisibleInput, newsId) {

        Swal.fire({
            text: `Deseja ${newsVisibleInput.checked ? "tornar notícia visível" : "ocultar notícia"}?`,
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Confirmar",
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
            customClass: {
                confirmButton: "btn-primary",
                cancelButton: "btn-danger"
            }

        }).then(async (result) => {

            if (result.isConfirmed) {

                Swal.fire({
                    title: `${newsVisibleInput.checked ? "Tornando notícia visível" : "Ocultando notícia"}...`,
                    didOpen: async () => {
                        Swal.showLoading();
                    },
                    allowOutsideClick: () => !Swal.isLoading(),
                    backdrop: "rgba(0,0,0,0.7)",
                    background: "#f2f2f2",
                });


                const response = await editVisible(newsVisibleInput, newsId);


                if (response.success) {

                    Swal.fire({
                        title: `<h3>Notícia ${newsVisibleInput.checked ? "visibilizada" : "ocultada"} com sucesso!</h3>`,
                        icon: "success",
                        iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        },
                    });

                    //Updating Visible State
                    const newsCardContent = document.querySelector(`#newsCardContent${newsId}`);
                    const cardVisibleButton = newsCardContent.querySelector(".visible-news-button");
                    const cardVisibleIcon = cardVisibleButton.querySelector("i");
                    const visible = newsVisibleInput.checked;
                    cardVisibleIcon.classList = `visible-news-icon fa-solid fa-${visible ? "eye" : "eye-slash"}`;
                    cardVisibleButton.title = visible ? "Ocultar" : "Tornar visível";
                    $(cardVisibleButton).tooltip('dispose').tooltip();

                } else {
                    Swal.fire({
                        title: `<h3>Falha ao ${newsVisibleInput.checked ? "tornar notícia visível" : "ocultar notícia"}!</h3>`,
                        html: response.message,
                        icon: "error",
                        iconHtml: `<i class="fas fa-times-circle text-danger"></i>`,
                        backdrop: "rgba(0,0,0,0.7)",
                        background: "#f2f2f2",
                        customClass: {
                            icon: "custom-icon-class",
                            confirmButton: "btn-primary"
                        },
                    }).then(() => {
                        window.location.reload()
                    });
                }

            } else {
                newsVisibleInput.checked = !newsVisibleInput.checked;
            }
        });
    }


    async function editVisible(newsVisibleInput, newsId) {

        let visible = newsVisibleInput.checked ? "yes" : "no";

        const formData = new FormData();

        formData.set("newsId", newsId);
        formData.set("visible", visible);

        try {

            let response = await fetch("/news/change-visible", {
                method: "POST",
                body: formData,
            });

            return await response.json();
        }

        catch (error) {
            return {
                success: false,
                message: "Erro na conexão. Por favor, recarregue a página e tente novamente."
            };
        }
    }

</script>