<!-- Register News Button  -->
<button id="registerNewsButton" type="button" data-placement="top" title="Cadastrar notícia"
  class="btn btn-light text-dark btn-circle" data-toggle="modal" data-target="#registerNewsModal">
  <i class="fas fa-newspaper"></i>
</button>



<!-- Register News Modal  -->
<div class="modal fade" id="registerNewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">

      <!-- Modal Header-->
      <div class="modal-header py-3 px-4 d-flex justify-content-between align-items-center">
        <h6 class="modal-title text-light" id="exampleModalLabel">Cadastrar notícia</h6>
        <button type="button" class="close btn text-light btn-secondary btn-circle" data-dismiss="modal"
          aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>


      <!-- Modal Body -->
      <div class="modal-body border border-white">

        <form id="registerNewsForm"
          class="d-flex flex-column justify-content-around position-relative px-1 px-md-5 py-3">

          <div id="registerImageContainer" class="w-100 position-relative rounded overflow-hidden mb-1 ">
            <img id="registerImagePreview" class="w-100 h-100 shadow-sm" src="/image/news/default-image-path.svg"
              alt="Imagem padrão da notícia" style="object-fit: cover;" />
            <span
              class="overlay news-image-overlay position-absolute text-white d-flex align-items-center justify-content-center w-100 h-100">
              Alterar imagem da notícia
            </span>
            <input id="registerImage" name="registerImage" type="file" style="display: none" />
          </div>


          <div class="d-flex flex-column align-items-center mt-5 w-100">

            <div class="form-group w-100 mb-0">
              <label for="registerTitle" class="text-dark">Titulo da notícia</label>
              <input id="registerTitle" name="registerTitle" type="text"
                class="container-fluid text-dark px-2 py-3 form-control w-100" style="font-size: 16px;"
                placeholder="Por favor, insira um título para a notícia que contenha entre 10 e 100 caracteres." />
            </div>

            <div class="mt-1 mb-0 d-flex w-100 justify-content-between">
              <p id="registerTitleMessage" class="text-danger" style="font-size: 14px; visibility: hidden;">Mínimo de
                10 caracteres</p>
              <p class="text-dark" style="font-size: 14px;"><span class="text-dark"
                  id="registerTitleCounter">0</span>/100</p>
            </div>

          </div>


          <div class="d-flex flex-column align-items-center my-4 w-100">

            <div class="form-group w-100 mb-0">
              <label for="registerSummary" class="text-dark">Resumo da notícia</label>
              <textarea id="registerSummary" name="registerSummary"
                class="container-fluid text-dark px-2 py-2 form-control w-100" style="resize: none; font-size: 16px;"
                placeholder="Agora, escreva um resumo sobre a notícia contendo entre 100 e 150 caracteres."></textarea>
            </div>


            <div class="mt-1 mb-0 w-100 d-flex justify-content-between">
              <p id="registerSummaryMessage" class="text-danger" style="font-size: 14px; visibility: hidden;">Mínimo
                de 100 caracteres</p>
              <p class="text-dark" style="font-size: 14px;"><span class="text-dark"
                  id="registerSummaryCounter">0</span>/150</p>
            </div>

          </div>


          <div class="form-group w-100 mb-0">
            <label for="registerBody" class="text-dark">Corpo da notícia</label>
            <textarea id="registerBody" name="registerBody"
              placeholder="Aqui você pode escrever o conteúdo principal da notícia.">
            </textarea>
          </div>


          <p class="mt-5 text-dark mb-1">Ações ao publicar</p>
          <div
            class="d-flex flex-column flex-lg-row justify-content-around align-items-lg-center bg-white rounded p-3 w-100"
            style="border: solid 1.6px #d1d3e2;">

            <div class="mb-2 mb-md-0 text-dark">
              <input id="registerHighlighted" name="registerHighlighted" type="checkbox" class="mr-1" />
              <label class="text-dark mb-0" for="registerHighlighted">Colocar em destaque</label>
            </div>

            <div class="mb-2 mb-md-0 text-dark">
              <input id="registerVisible" name="registerVisible" type="checkbox" class="mr-1" />
              <label class="text-dark mb-0" for="registerVisible">Tornar visível</label>
            </div>

            <div class="mb-1 mb-md-0 text-dark">
              <input id="registerSchedulingDateCheckbox" type="checkbox" class="mr-1" />
              <label class="text-dark mb-0" for="registerSchedulingDateCheckbox">Agendar</label>
            </div>

            <div id="registerSchedulingDateContainer" style="display: none;">
              <input class="text-dark form-control" id="registerSchedulingDate" name="registerSchedulingDate"
                type="datetime-local" />
            </div>


          </div>

          <button id="registerNewsSubmitButton" class="btn btn-primary container-fluid mt-5">Cadastrar
            notícia</button>

        </form>

        <!-- End form Body -->
      </div>
    </div>
  </div>
</div>



<!-- Ckeditor Import -->
<script src="/ckeditor5-41.3.1/build/ckeditor.js"></script>



<!--Set Ckeditor Container Styles-->
<style>
  /* This selector targets the editable element (excluding comments). */
  .ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 380px;
    overflow-y: auto;
    font-size: 16px;
    resize: none;
    border: solid 1.6px #d1d3e2;
    padding: 8px;
    color: #5a5c69;
  }
</style>



<!--Create Register News CK Editor-->
<script type="module" async>

  const registerEditor = await createRegisterCkEditor("registerBody");


  async function createRegisterCkEditor(id) {
    const element = document.getElementById(id);
    const editor = await ClassicEditor.create(element, {
      simpleUpload: {
        uploadUrl: "/editor/uploader",
      },
      image: {
        upload: {
          types: ["jpeg", "jpg", "png", "webp", "svg"]
        }
      }
    });

    window.registerEditor = editor;
    return editor;
  }

</script>



<!--Masks Functions-->
<script>
  //------------------- General Mask for News Inputs -------------------//
  function noLigaturesMask(input) {

    const cursorPosition = input.selectionStart;

    const ligaturesRegex = /[æÆœŒﬀﬁﬂﬃﬄ]|^\s+$|^'/g;

    if (ligaturesRegex.test(input.value)) {
      input.value = input.value.replace(ligaturesRegex, "");
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }

    if (/\s{2,}/g.test(input.value)) {
      input.value = input.value.replace(/\s{2,}/g, " ");
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }

    if (/'{2,}/g.test(input.value)) {
      input.value = input.value.replace(/'{2,}/g, "'");
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }

    if (/"{2,}/g.test(input.value)) {
      input.value = input.value.replace(/"{2,}/g, '"');
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }
  }



  //Mask For Alphanumeric Fields
  function alphanumericSymbolMask(input) {
    const cursorPosition = input.selectionStart;

    const alphaSymbolRegex = /[^a-zA-ZàáâãéêíóôõúÀÁÂÃÉÊÍÓÔÕÚçÇ0-9\sª°º'",-._@#$%()]|^[^a-zA-ZàáâãéêíóôõúÀÁÂÃÉÊÍÓÔÕÚçÇ]/g;
    if (alphaSymbolRegex.test(input.value)) {
      input.value = input.value.replace(alphaSymbolRegex, "");
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }

    const chars = "\\sª°º'\",-._@#$%()";
    const regex = new RegExp(`([${chars}])\\1+`, 'g');

    if (regex.test(input.value)) {
      input.value = input.value.replace(regex, '$1');
      input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
    }
  }


</script>



<!--Apply Masks on Register News Form Fields-->
<script>

  //--------------------- Title --------------------//
  document.getElementById("registerTitle").addEventListener("input", function () {
    if (this.value.length > 100) {
      this.value = this.value.substring(0, 100);
    }
    if (this.value.length < 10 && this.value.length > 0) {
      document.getElementById("registerTitleMessage").style.visibility = "visible";
    } else {
      document.getElementById("registerTitleMessage").style.visibility = "hidden";
    }
    document.getElementById("registerTitleCounter").innerHTML = this.value.length;
    alphanumericSymbolMask(this)
  });


  //-------------------- Summary --------------------//
  document.getElementById("registerSummary").addEventListener("input", function () {
    if (this.value.length > 150) {
      this.value = this.value.substring(0, 150);
    }

    if (this.value.length < 100 && this.value.length > 0) {
      document.getElementById("registerSummaryMessage").style.visibility = "visible";
    } else {
      document.getElementById("registerSummaryMessage").style.visibility = "hidden";
    }
    document.getElementById("registerSummaryCounter").innerHTML = this.value.length;
    alphanumericSymbolMask(this)
  });


</script>



<!--Logic of Register News Scheduling Date Display-->
<script>

  function changeScheduleDisplay(schedulingDateCheckbox, scheduleContainer) {
    schedulingDateCheckbox.addEventListener("click", function () {
      scheduleContainer.style.display = schedulingDateCheckbox.checked ? "flex" : "none";

      if (!schedulingDateCheckbox.checked) {
        scheduleContainer.querySelector("input").value = "";
      }

    });
  }

  const registerSchedulingDateCheckbox = document.querySelector("#registerSchedulingDateCheckbox");
  const registerSchedulingDateContainer = document.querySelector("#registerSchedulingDateContainer");


  changeScheduleDisplay(registerSchedulingDateCheckbox, registerSchedulingDateContainer);

</script>



<!-- News Image Validation-->
<script>

  async function validNewsImage(input) {

    let file = input.files[0];

    if (file.size > 5000000) {
      return {
        success: false,
        message: "Tamanho máximo de 5MB excedido para <strong>imagem da notícia</strong>."
      };
    }


    try {

      const arrayBuffer = await readFileAsArrayBuffer(file);

      const text = await readFileAsText(file);
      const svgPattern = /<svg[^>]*xmlns="http:\/\/www\.w3\.org\/2000\/svg"[^>]*>/;
      const isSVG = svgPattern.test(text);

      const isValidFormat = (IsOtherFileFormat(arrayBuffer) || isSVG);


      if (!isValidFormat) {
        return {
          success: false,
          message: "Tipo de arquivo inválido para <strong>imagem da notícia</strong>."
        };
      }




      return {
        success: true,
        message: "Imagem da notícia válida."
      };


    } catch (error) {
      return {
        success: false,
        message: "Erro ao carregar <strong>imagem da notícia</strong>. Tente novamente."
      };
    }
  }



  function readFileAsArrayBuffer(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();

      reader.onload = function (event) {
        resolve(new Uint8Array(event.target.result));
      };

      reader.onerror = function (event) {
        reject(event);
      };

      reader.readAsArrayBuffer(file);
    });
  }


  function readFileAsText(file) {

    return new Promise((resolve, reject) => {
      const reader = new FileReader();

      reader.onload = function (event) {
        resolve(event.target.result);
      };

      reader.onerror = function (event) {
        reject(event);
      };

      reader.readAsText(file);
    });

  }


  function IsOtherFileFormat(arrayBuffer) {

    let fileCodes = ["89504e47", "ffd8ffdb", "ffd8ffe0", "ffd8ffee", "ffd8ffe1", "0000000c", "ff4fff51", "52494646"];

    var arr = arrayBuffer.subarray(0, 4);
    var header = "";
    for (var i = 0; i < arr.length; i++) {
      header += arr[i].toString(16);
    }

    if (!fileCodes.includes(header)) {
      return false;
    }
    return true;
  }


</script>



<!--Change Register News Image Script-->
<script>
  const registerImageContainer = document.getElementById("registerImageContainer");
  const registerImageElement = registerImageContainer.querySelector("img");
  const registerImageOverlay = registerImageContainer.querySelector("span");
  const registerImageInput = registerImageContainer.querySelector("input");

  registerImageContainer.addEventListener("mouseover", () => {
    registerImageOverlay.style.visibility = "visible";
  });

  registerImageContainer.addEventListener("mouseout", () => {
    registerImageOverlay.style.visibility = "hidden";
  });

  registerImageContainer.addEventListener("click", () => {
    registerImageInput.click();
  });


  var lastRegisterNewsImageFile;

  registerImageInput.addEventListener('change', async (event) => {

    const file = event.target.files[0];

    if (file) {

      let validNewsImageObject = await validNewsImage(registerImageInput);

      if (!validNewsImageObject.success) {

        registerImageInput.value = "";

        document.getElementById("registerNewsModal").style.display = "none";

        Swal.fire({
          title: "<h3>Ocorreu um problema!</h3>",
          html: validNewsImageObject.message,
          icon: "error",
          iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
          backdrop: "rgba(0,0,0,0.7)",
          background: "#f2f2f2",
          customClass: {
            icon: "custom-icon-class",
            confirmButton: "btn-primary"
          }
        }).then(() => {
          document.getElementById("registerNewsModal").style.display = "block";
        });

      } else {

        lastRegisterNewsImageFile = file;

        const reader = new FileReader();

        reader.onload = function (event) {
          const imageUrl = event.target.result;
          registerImageElement.src = imageUrl;
          //profilePhoto.style.backgroundImage = "url('" + imageUrl + "')";
        };

        reader.readAsDataURL(file);
      }

    } else {

      if (lastRegisterNewsImageFile) {
        const fileList = new DataTransfer();
        fileList.items.add(new File([lastRegisterNewsImageFile], lastRegisterNewsImageFile.name));
        registerImageInput.files = fileList.files;
      }
    }
  });
</script>


<!--Decode HTML entities -->
<script>
  function decodeHtmlEntities(encodedString) {
    var textarea = document.createElement('textarea');
    textarea.innerHTML = encodedString;
    return textarea.value;
  }
</script>


<!--Submit Register News Form-->
<script>

  const registerNewsSubmitButton = document.querySelector("#registerNewsSubmitButton");

  registerNewsSubmitButton.addEventListener("click", async (e) => {
    e.preventDefault();

    Swal.fire({
      title: "Cadastrando notícia...",
      didOpen: async () => {
        Swal.showLoading();
        document.getElementById("registerNewsModal").style.display = "none";
      },
      allowOutsideClick: () => !Swal.isLoading(),
      backdrop: "rgba(0,0,0,0.7)",
      background: "#f2f2f2",
    });

    const response = await registerNews();

    if (response.success) {

      Swal.fire({
        title: "<h3>Notícia cadastrada com sucesso!</h3>",
        icon: "success",
        iconHtml: '<i class="fas fa-check-circle text-success"></i>',
        backdrop: "rgba(0,0,0,0.7)",
        background: "#f2f2f2",
        customClass: {
          icon: "custom-icon-class",
          confirmButton: "btn-primary"
        },

      }).then(() => {
        window.location.reload();
      });

    } else {
      Swal.fire({
        title: "<h3>Falha ao cadastrar notícia!</h3>",
        html: response.message,
        icon: "error",
        iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
        backdrop: "rgba(0,0,0,0.7)",
        background: "#f2f2f2",
        customClass: {
          icon: "custom-icon-class",
          confirmButton: "btn-primary"
        },
      }).then(() => {
        document.getElementById("registerNewsModal").style.display = "block";
      });
    }
  });



  async function registerNews() {


    var imageInput = document.getElementById("registerImage");


    if (imageInput.files.length != 0) {
      var validNewsImageObject = await validNewsImage(imageInput);

      if (await !validNewsImageObject.success) {
        return await new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve(
              validNewsImageObject
            );
          });
        });
      }
    }


    const form = document.querySelector("#registerNewsForm");
    const formData = new FormData(form);

    let body = registerEditor.getData({ trim: "empty" });
    //let body = decodeHtmlEntities(registerEditor.getData({trim: "empty"}));
    //body = body.replace(/style="[^"]*"/, "");
    //body = body.replace(/class="[^"]*"/, "");
    //body = body.replace(/width="[^"]*"/, "");
    //body = body.replace(/height="[^"]*"/, "");


    formData.set("registerBody", body);

    const registerHighlighted = document.querySelector("#registerHighlighted");
    const registerHighlightedValue = registerHighlighted.checked ? "yes" : "no";
    formData.set("registerHighlighted", registerHighlightedValue);


    const registerVisible = document.querySelector("#registerVisible");
    const registerVisibleValue = registerVisible.checked ? "yes" : "no";
    formData.set("registerVisible", registerVisibleValue);


    const schedulingDateCheckbox = document.getElementById("registerSchedulingDateCheckbox");
    const schedulingDateCheckboxValue = schedulingDateCheckbox.checked ? "yes" : "no";
    formData.set("registerSchedulingDateCheckbox", schedulingDateCheckboxValue);

    var schedulingDate = document.getElementById("registerSchedulingDate");
    formData.set("registerSchedulingDate", schedulingDate.value == "" ? schedulingDate.value : schedulingDate.value.replace(/\T/g, " ") + ":00");

    try {
      const response = await fetch("/news/register", {
        method: "POST",
        body: formData,
      });

      return await response.json();

    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente."
      };
    }
  }

</script>



<!--Set Register News Button Tooltip and Modal Reset-->
<script>

  $(document).ready(() => {

    $("#registerNewsButton").tooltip();

    $('#registerNewsButton').on('click', () => {
      $('body').css('overflow-y', 'hidden');
    });

    $('#registerNewsModal').on('hidden.bs.modal', () => {

      $('body').css('overflow-y', 'scroll');
      $('#registerTitleMessage').css('visibility', 'hidden');
      $('#registerSummaryMessage').css('visibility', 'hidden');

      $('#registerTitleCounter').html("0");
      $('#registerSummaryCounter').html("0");


      $('#registerImage').val('');
      $('#registerImagePreview').attr('src', '/image/news/default-image-path.svg');
      $('#registerTitle').val('');
      $('#registerSummary').val('');
      registerEditor.setData('');
      $('#registerHighlighted').prop('checked', false);
      $('#registerSchedulingDateCheckbox').prop('checked', false);

      $('#registerSchedulingDateContainer').css('display', 'none');
      $('#registerSchedulingDate').val('');

    });

  });

</script>