<!-- First Access Modal -->
<div class="modal fade" id="firstAccessModal" tabindex="-1" role="dialog" aria-labelledby="firstAccessModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class=" modal-dialog modal-md modal-dialog-centered" role="document">

        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header py-3 px-4 d-flex justify-content-between align-items-center">
                <h6 class="modal-title text-light" id="firstAccessModalLabel">Redefinição de senha</h6>

            </div>
            <div class="modal-body border border-white">
                <!-- Modal Body -->
                <form id="firstAccessForm" class="mx-auto" enctype="multipart/form-data" style="max-width: 500px">

                    <div class="mb-4">
                        <p class="text-left">É necessário redefinir a sua senha. Para isso, ela deve conter pelo menos:
                        </p>
                        <ul class="text-left">
                            <li>8 caracteres;</li>
                            <li>1 letra minúscula;</li>
                            <li>1 letra maiúscula;</li>
                            <li>1 dígito (0-9);</li>
                            <li>1 caractere especial <strong>(@$!%*?&\.)</strong>.</li>
                        </ul>
                    </div>


                    <div class="form-group position-relative">
                        <label for="firstAccessNewPassword">Nova senha</label>
                        <div class="d-flex align-items-center position-relative">
                            <input id="firstAccessNewPassword" name="firstAccessNewPassword" type="password"
                                class="form-control" />
                            <i class="fa-solid fa-eye-slash position-absolute top-50 translate-middle first-access-password-visibility"
                                style="right: 15px; cursor: pointer;" title="Mostrar"
                                onclick="toggleFirstAccessPasswordVisibility('firstAccessNewPassword', this)">
                            </i>
                        </div>
                    </div>

                    <div class="form-group position-relative">
                        <label for="firstAccessConfirmNewPassword">Confirmar nova senha</label>
                        <div class="d-flex align-items-center position-relative">
                            <input id="firstAccessConfirmNewPassword" name="firstAccessConfirmNewPassword"
                                type="password" class="form-control" />
                            <i class="fa-solid fa-eye-slash position-absolute top-50 translate-middle first-access-password-visibility"
                                style="right: 15px; cursor: pointer;" title="Mostrar"
                                onclick="toggleFirstAccessPasswordVisibility('firstAccessConfirmNewPassword', this)">
                            </i>
                        </div>
                    </div>

                    <button id="firstAccessSubmitForm" class="w-100 btn btn-light text-white font-weight-bold mt-4 mb-3"
                        style="background-color: #143169">
                        Redefinir senha
                    </button>
                </form>
                <!-- End form Body -->
            </div>
        </div>
    </div>
</div>



<!--Open First Access Modal And Set Tooltips-->
<script>
    $(document).ready(function () {
        $("#firstAccessModal").modal("show");
        $(".first-access-password-visibility").tooltip();
    })
</script>



<!--Alter First Access Passwords Visibility-->
<script>
    function toggleFirstAccessPasswordVisibility(passwordFieldId, toggleIcon) {
        const passwordField = document.getElementById(passwordFieldId);
        const isPasswordVisible = passwordField.type === 'text';

        if (isPasswordVisible) {
            passwordField.type = 'password';
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
            toggleIcon.title = "Mostrar";

        } else {
            passwordField.type = 'text';
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
            toggleIcon.title = "Ocultar";
        }

        $(toggleIcon).tooltip('dispose').tooltip();
    }
</script>



<!--Submit First Access Form-->
<script>


    const redefinePasswordButton = document.querySelector("#firstAccessSubmitForm");


    redefinePasswordButton.addEventListener("click", async (e) => {
        e.preventDefault();

        Swal.fire({
            title: "Redefinindo senha...",
            didOpen: async () => {
                Swal.showLoading();
                document.getElementById("firstAccessModal").style.display = "none";
            },
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
        });

        const response = await redefineFirstAccessPassword();

        if (response.success) {
            Swal.fire({
                title: "<h3>Senha redefinida com sucesso!</h3>",
                icon: "success",
                iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            }).then(() => {
                const firstAccessModal = document.getElementById("firstAccessModal");
                $(firstAccessModal).modal("hide");
            });
        } else {
            Swal.fire({
                title: "<h3>Falha ao redefinir senha!</h3>",
                html: response.message,
                icon: "error",
                iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            }).then(() => {
                document.getElementById("firstAccessModal").style.display = "block";
            });
        }
    });




    async function redefineFirstAccessPassword() {

        const newPassword = document.querySelector("#firstAccessNewPassword");
        const confirmPassword = document.querySelector("#firstAccessConfirmNewPassword");



        if (newPassword.value == "") {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "Informe a nova senha."
                    });
                })
            })
        }



        if (newPassword.value != confirmPassword.value) {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "Verifique a confirmação de nova senha. Senhas não coincidem."
                    });
                })
            })
        }



        try {

            const form = document.querySelector("#firstAccessForm");
            const formData = new FormData(form);

            const response = await fetch("/user/redefine-first-access-password", {
                method: "POST",
                body: formData
            });

            return await response.json();


        } catch (error) {
            return {
                success: false,
                message: "Falha na conexão. Tente novamente",
            };
        }
    }



</script>