<!-- Edit Graduate Modal  -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="editUserOverlay" class="overlay modal-overlay" style="display:grid;">
        <div class="spinner-border text-light" role="status"><span class="sr-only"></span></div>
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Editar usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal Body -->
        <form id="editUserForm" class="px-4" enctype="multipart/form-data">

          <input id="editLastCpf" name="editLastCpf" type="hidden" value="" />

          <div class="form-group d-flex flex-column align-items-start mb-4">
            <label for="editFullname">Nome completo</label>
            <input id="editFullname" name="editFullname" type="text" class="form-control" />
          </div>


          <div class="form-group d-flex flex-column align-items-start mb-4">
            <label for="editUsername">Nome de usuário</label>
            <input id="editUsername" name="editUsername" autocomplete="off" type="text" class="form-control" />
          </div>


          <div class="form-group d-flex flex-column align-items-start mb-4">
            <label for="editEmail">Email</label>
            <input id="editEmail" name="editEmail" autocomplete="off" type="text" class="form-control" />
          </div>


          <div class="form-group d-flex flex-column align-items-start">
            <label for="editCpf">CPF</label>
            <input id="editCpf" name="editCpf" autocomplete="off" type="text" class="form-control" />
          </div>



          <button id="editUserSubmitButton" class="btn btn-primary container-fluid mt-4">
            Editar
          </button>


        </form>

        <!-- End form Body -->
      </div>

      <div class="modal-footer px-4">

        <button type="button" class="btn btn-danger mx-3 w-100" data-dismiss="modal">
          Cancelar
        </button>

      </div>

    </div>
  </div>
</div>


<!--Fill Edit Form On Click Edit Button-->
<script>
  const editUserButtons = document.querySelectorAll(".edit-user-button");
  editUserButtons.forEach((button) =>
    button.addEventListener("click", async (e) => {
      e.preventDefault();
      modalOverlay("on", "editUserOverlay");

      const response = await getUserInfo(button.dataset.userCpf);

      if (!response.success) {
        await Swal.fire({
          title: data.message,
          icon: "error",
          position: "center",
        }).then(() => {
          window.location.reload()
        });
      } else {
        await updateEditForm(response.data);
        modalOverlay("off", "editUserOverlay");
      }


    })
  );



  async function getUserInfo(userCpf) {
    try {
      const response = await fetch("/api/user/" + userCpf, {
        method: "GET"

      });
      const data = await response.json();
      return data;
    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente.",
      }
    }
  }



  function updateEditForm(data) {

    const lastCpf = document.querySelector("#editLastCpf");
    const fullname = document.querySelector("#editFullName");
    const username = document.querySelector("#editUsername");
    const email = document.querySelector("#editEmail");
    const cpf = document.querySelector("#editCpf");


    let cpfMask = "###.###.###-##";
    let cpfmaskedArray = cpfMask.split("");


    for (let i = 0; i < data.cpf.length; i++) {
      if (cpfmaskedArray.indexOf("#") !== -1) {
        cpfmaskedArray.splice(cpfmaskedArray.indexOf("#"), 1, data.cpf[i]);
      }
    }


    lastCpf.value = data.cpf;
    fullname.value = data.fullname;
    username.value = data.username;
    email.value = data.email
    cpf.value = cpfmaskedArray.join("");

  }

</script>


<!--Apply Masks on Register User Form Fields-->
<script>

  //------------------- Fullname -------------------//
  document.getElementById("editFullname").addEventListener("input", function () {
    if (this.value.length > 255) {
      this.value = this.value.substring(0, 255);
    }
    fullnameMask(this);
  });

  //------------------- Username -------------------//
  document.getElementById("editUsername").addEventListener("input", function () {
    if (this.value.length > 20) {
      this.value = this.value.substring(0, 20);
    }
    usernameMask(this);
  });

  //-------------------- Email ---------------------//
  document.getElementById("editEmail").addEventListener("input", function () {
    if (this.value.length > 255) {
      this.value = this.value.substring(0, 255);
    }
    emailMask(this);
  });


  //----------------------- CPF -------------------//

  var pasteEditCpf = false;

  document.getElementById("editCpf").addEventListener("paste", function () {
    pasteEditCpf = true;
  });

  document.getElementById("editCpf").addEventListener("input", function () {
    let mask = "###.###.###-##";
    let cursorPosition = this.selectionStart;
    let beforeCriticalChars = cursorPosition === 3 || cursorPosition === 7 || cursorPosition === 11;
    let afterCriticalChars = cursorPosition === 4 || cursorPosition === 8 || cursorPosition === 12;
    let backspaceCodition = lastKeyPressed === "Backspace";
    let criticalBackspaceCodition = beforeCriticalChars && backspaceCodition

    let maskedArray = mask.split("");


    let digitsOnly = criticalBackspaceCodition ?
      (this.value.slice(0, cursorPosition - 1) + this.value.slice(cursorPosition)).replace(/[^0-9]/g, "") :
      this.value.replace(/[^0-9]/g, "");


    for (let i = 0; i < digitsOnly.length; i++) {
      if (maskedArray.indexOf("#") !== -1) {
        maskedArray.splice(maskedArray.indexOf("#"), 1, digitsOnly[i]);
      }
    }

    let newValue = "";

    if (maskedArray.indexOf("#") === -1) {
      newValue = this.value = maskedArray.join("");
    } else {
      newValue = this.value = maskedArray.slice(0, maskedArray.indexOf("#")).join("");
    }


    if (pasteEditCpf) {
      this.setSelectionRange(newValue.length, newValue.length);
      return;
    }
    if (criticalBackspaceCodition) {
      this.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
      return;
    }
    if (backspaceCodition) {
      this.setSelectionRange(cursorPosition, cursorPosition);
      return;
    }
    if (beforeCriticalChars || afterCriticalChars) {
      this.setSelectionRange(cursorPosition + 1, cursorPosition + 1);
      return;
    }
    this.setSelectionRange(cursorPosition, cursorPosition);

  });

</script>


<!--Submit Edit Form -->
<script>
  const editUserSubmitButton = document.querySelector("#editUserSubmitButton");
  editUserSubmitButton.addEventListener("click", async (e) => {
    e.preventDefault();

    Swal.fire({
      title: "Editando usuário...",
      didOpen: async () => {
        Swal.showLoading();
        document.getElementById("editUserModal").style.display = "none";
      },
      allowOutsideClick: () => !Swal.isLoading(),
    });

    const response = await editUser();

    if (response.success) {
      Swal.fire({
        title: response.message,
        icon: "success",
      }).then(() => {
        window.location.reload();
      });
    } else {
      Swal.fire({
        title: "Falha ao editar usuário!",
        html: response.message,
        icon: "error",
      }).then(() => {
        document.getElementById("editUserModal").style.display = "block";
      });
    }
  });


  async function editUser() {

    try {
      const form = document.getElementById("editUserForm");
      const formData = new FormData(form);

      const cleanedCpf = document.getElementById("editCpf").value.replace(/[^0-9]/g, "");

      formData.append("editCpf", cleanedCpf);

      const response = await fetch("/api/user/edit", {
        method: "POST",
        body: formData,
      });

      return await response.json();

    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente."
      }
    }

  }

</script>