<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="editUserOverlay" class="overlay modal-overlay" style="display:grid;">
        <div class="spinner-border text-light" role="status"><span class="sr-only"></span></div>
      </div>
      <!--Modal Header-->
      <div class="modal-header py-3 px-4 d-flex justify-content-between align-items-center">
        <h6 class="modal-title text-light" id="editUserModalLabel">Editar usuário</h6>
        <button type="button" class="close btn text-light btn-secondary btn-circle" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body border border-white">
        <!-- Modal Body -->
        <form id="editUserForm" class="px-1 px-lg-4" enctype="multipart/form-data">
          <input id="editLastCpf" name="editLastCpf" type="hidden" value="" />
          <div class="row">
            <div class="col-sm-12 col-lg-6 form-group mb-4 text-dark">
              <label for="editFullname">Nome completo</label>
              <input id="editFullname" name="editFullname" type="text" class="form-control" />
            </div>
            <div class="col-sm-12 col-lg-6 form-group mb-4 text-dark">
              <label for="editUsername">Nome de usuário</label>
              <input id="editUsername" name="editUsername" autocomplete="off" type="text" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-6 form-group mb-4 text-dark">
              <label for="editEmail">Email</label>
              <input id="editEmail" name="editEmail" autocomplete="off" type="text" class="form-control" />
            </div>
            <div class="col-sm-12 col-lg-6 form-group mb-4 text-dark">
              <label for="editCpf">CPF</label>
              <input id="editCpf" name="editCpf" autocomplete="off" type="text" class="form-control" />
            </div>
          </div>

          <button id="editUserSubmitButton" class="btn btn-primary container-fluid mt-2">
            Editar
          </button>

          <button id="generateNewPasswordButton" class="btn btn-warning container-fluid mt-4">
            Gerar nova senha
          </button>
  
        </form>
        <!-- End form Body -->
      </div>
      <div class="modal-footer px-1 px-lg-4">
        <button type="button" class="btn btn-danger mx-3 w-100" data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>



<!--Fill Edit Form On Click Edit Button-->
<script>
  const editUserButtons = document.querySelectorAll(".edit-user-button");
  editUserButtons.forEach((button) =>
    button.addEventListener("click", async (e) => {
      e.preventDefault();
      modalOverlay("on", "editUserOverlay");

      const response = await getUserInfo(button.dataset.userCpf);

      if (!response.success) {

        document.getElementById("editUserModal").style.display = "none";

        await Swal.fire({
          title: "<h3>Usuário não encontrado!</h3>",
          html: response.message,
          icon: "error",
          iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
          backdrop: "rgba(0,0,0,0.7)",
          background: "#f2f2f2",
          customClass: {
            icon: "custom-icon-class",
          },
        }).then(() => {
          window.location.reload()
        });
      } else {
        await updateEditUserForm(response.data);
        modalOverlay("off", "editUserOverlay");
      }


    })
  );



  async function getUserInfo(userCpf) {
    try {
      const response = await fetch("/user/" + userCpf, {
        method: "GET"
      });

      return await response.json();

    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente.",
      }
    }
  }



  function updateEditUserForm(data) {

    const lastCpf = document.querySelector("#editLastCpf");
    const fullname = document.querySelector("#editFullname");
    const username = document.querySelector("#editUsername");
    const email = document.querySelector("#editEmail");
    const cpf = document.querySelector("#editCpf");
    const generateNewPasswordButton = document.querySelector("#generateNewPasswordButton");


    let cpfMask = "###.###.###-##";
    let cpfmaskedArray = cpfMask.split("");


    for (let i = 0; i < data.cpf.length; i++) {
      if (cpfmaskedArray.indexOf("#") !== -1) {
        cpfmaskedArray.splice(cpfmaskedArray.indexOf("#"), 1, data.cpf[i]);
      }
    }


    lastCpf.value = data.cpf;
    fullname.value = data.fullname;
    username.value = data.username;
    email.value = data.email
    cpf.value = cpfmaskedArray.join("");
    generateNewPasswordButton.dataset.userCpf = data.cpf;

  }

</script>


<!--Apply Masks on Edit User Form Fields-->
<script>

  //------------------- Fullname -------------------//
  document.getElementById("editFullname").addEventListener("input", function () {
    if (this.value.length > 255) {
      this.value = this.value.substring(0, 255);
    }
    fullnameMask(this);
  });

  //------------------- Username -------------------//
  document.getElementById("editUsername").addEventListener("input", function () {
    if (this.value.length > 20) {
      this.value = this.value.substring(0, 20);
    }
    usernameMask(this);
  });

  //-------------------- Email ---------------------//
  document.getElementById("editEmail").addEventListener("input", function () {
    if (this.value.length > 255) {
      this.value = this.value.substring(0, 255);
    }
    emailMask(this);
  });


  //----------------------- CPF -------------------//

  var pasteEditCpf = false;

  document.getElementById("editCpf").addEventListener("paste", function () {
    pasteEditCpf = true;
  });

  document.getElementById("editCpf").addEventListener("input", function () {
    let mask = "###.###.###-##";
    let cursorPosition = this.selectionStart;
    let beforeCriticalChars = cursorPosition === 3 || cursorPosition === 7 || cursorPosition === 11;
    let afterCriticalChars = cursorPosition === 4 || cursorPosition === 8 || cursorPosition === 12;
    let backspaceCodition = lastKeyPressed === "Backspace";
    let criticalBackspaceCodition = beforeCriticalChars && backspaceCodition

    let maskedArray = mask.split("");


    let digitsOnly = criticalBackspaceCodition ?
      (this.value.slice(0, cursorPosition - 1) + this.value.slice(cursorPosition)).replace(/[^0-9]/g, "") :
      this.value.replace(/[^0-9]/g, "");


    for (let i = 0; i < digitsOnly.length; i++) {
      if (maskedArray.indexOf("#") !== -1) {
        maskedArray.splice(maskedArray.indexOf("#"), 1, digitsOnly[i]);
      }
    }

    let newValue = "";

    if (maskedArray.indexOf("#") === -1) {
      newValue = this.value = maskedArray.join("");
    } else {
      newValue = this.value = maskedArray.slice(0, maskedArray.indexOf("#")).join("");
    }


    if (pasteEditCpf) {
      this.setSelectionRange(newValue.length, newValue.length);
      return;
    }
    if (criticalBackspaceCodition) {
      this.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
      return;
    }
    if (backspaceCodition) {
      this.setSelectionRange(cursorPosition, cursorPosition);
      return;
    }
    if (beforeCriticalChars || afterCriticalChars) {
      this.setSelectionRange(cursorPosition + 1, cursorPosition + 1);
      return;
    }
    this.setSelectionRange(cursorPosition, cursorPosition);

  });

</script>


<!--Submit Edit Form -->
<script>
  const editUserSubmitButton = document.querySelector("#editUserSubmitButton");
  editUserSubmitButton.addEventListener("click", async (e) => {
    e.preventDefault();

    Swal.fire({
      title: "Editando usuário...",
      didOpen: async () => {
        Swal.showLoading();
        document.getElementById("editUserModal").style.display = "none";
      },
      allowOutsideClick: () => !Swal.isLoading(),
      backdrop: "rgba(0,0,0,0.7)",
      background: "#f2f2f2",
    });

    const response = await editUser();

    if (response.success) {
      Swal.fire({
        title: "<h3>Usuário editado com sucesso!</h3>",
        icon: "success",
        iconHtml: '<i class="fas fa-check-circle text-success"></i>',
        backdrop: "rgba(0,0,0,0.7)",
        background: "#f2f2f2",
        customClass: {
          icon: "custom-icon-class",
          confirmButton: "btn-primary"
        },
      }).then(() => {
        const editModal = document.getElementById("editUserModal");
        $(editModal).modal("hide");
      });

      const userCpf = document.querySelector("#editLastCpf").value;
      const userLineContent = document.querySelector(`#userLineContent${userCpf}`);
      const lineFullname = userLineContent.querySelector(".user-fullname");
      const lineEmail = userLineContent.querySelector(".user-email");
      const lineCpf = userLineContent.querySelector(".user-cpf");


      //UPDATING FULLNAME
      const fullname = document.querySelector("#editFullname").value;
      lineFullname.innerHTML = fullname;


      //UPDATING EMAIL
      const email = document.querySelector("#editEmail").value;
      lineEmail.innerHTML = email;


      //UPDATING CPF
      const cpf = document.querySelector("#editCpf").value.replace(/[^0-9]/g, "");
      lineCpf.innerHTML = cpf;


    } else {
      Swal.fire({
        title: "<h3>Falha ao editar usuário!</h3>",
        html: response.message,
        icon: "error",
        iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
        backdrop: "rgba(0,0,0,0.7)",
        background: "#f2f2f2",
        customClass: {
          icon: "custom-icon-class",
          confirmButton: "btn-primary"
        },
      }).then(() => {
        document.getElementById("editUserModal").style.display = "block";
      });
    }
  });


  async function editUser() {

    try {
      const form = document.getElementById("editUserForm");
      const formData = new FormData(form);

      const cleanedCpf = document.getElementById("editCpf").value.replace(/[^0-9]/g, "");

      formData.set("editCpf", cleanedCpf);

      const response = await fetch("/user/edit", {
        method: "POST",
        body: formData,
      });

      return await response.json();

    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente."
      }
    }

  }

</script>



<!-- Generate New Password -->
<script>

  const generateNewPasswordButton = document.querySelector("#generateNewPasswordButton");

  generateNewPasswordButton.addEventListener("click", async (e) => {
    e.preventDefault();

    Swal.fire({
      text: "Você tem certeza que deseja gerar uma nova senha para esse usuário?",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Confirmar",
      backdrop: "rgba(0,0,0,0.7)",
      background: "#f2f2f2",
      customClass: {
        confirmButton: "btn-primary",
        cancelButton: "btn-danger"
      },
    }).then(async (result) => {

      if (result.isConfirmed) {

        Swal.fire({
          title: "Gerando nova senha...",
          didOpen: async () => {
            Swal.showLoading();
            document.getElementById("editUserModal").style.display = "none";
          },
          allowOutsideClick: () => !Swal.isLoading(),
          backdrop: "rgba(0,0,0,0.7)",
          background: "#f2f2f2",
        });
    
        const response = await generateNewPassword(generateNewPasswordButton.dataset.userCpf);
    
        if (response.success) {
          const clipboardHtml = `
            <div class="d-flex justify-content-center align-items-center px-5"> 
              <input 
                id="temp-pass" 
                class="message form-control border-secondary text-center mr-1" 
                style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                type="disable" 
                value="${response.password}"
              >
              <button   
                id="copy-pass-edit" 
                type="button"
                class="copy-button btn btn-outline-secondary"
              >
                <i 
                  class="fas fa-copy"
                >
                </i>
              </button>
            </div>
          `;
    
          Swal.fire({
            title: "<h3>Nova senha gerada com sucesso!</h3>",
            icon: "success",
            html: clipboardHtml,
            iconHtml: '<i class="fas fa-check-circle text-success"></i>',
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
            customClass: {
              icon: "custom-icon-class",
              confirmButton: "btn-primary"
            },
          }).then(() =>  {
            window.location.reload()
          });
    
    
          const alert = Swal.getPopup();
          const copyButton = alert.querySelector(".copy-button");
          const message = alert.querySelector(".message");
    
          copyButton.addEventListener("click", () => {
            message.select();
            message.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(message.value);
          });
    
        } else {
          Swal.fire({
            title: "Falha ao gerar nova senha!",
            html: response.message,
            icon: "error",
            iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
            customClass: {
              icon: "custom-icon-class",
              confirmButton: "btn-primary"
            },
          }).then(() => {
            document.getElementById("editUserModal").style.display = "block";
          });
        };
      } 
    });

  });


  async function generateNewPassword(cpf) {
    try {

      const response = await fetch("/user/generate-new-password/" + cpf, {
        method: "POST",
      });

      return await response.json();

    } catch (error) {
      return {
        success: false,
        message: "Erro na conexão. Tente novamente."
      }
    }
  }

</script>



<!--Set Edit User Buttons Tooltip and Modal Reset-->
<script>

  $(document).ready(() => {

    $(".edit-user-button").tooltip();

    $('.edit-user-button').on('click', () => {
      $('body').css('overflow-y', 'hidden');
    });


    $("#editUserModal").on("hidden.bs.modal", () => {
      $("#editFullname").val("");
      $("#editUsername").val("");
      $("#editEmail").val("");
      $("#editCpf").val("");
    });
  });

</script>


