
<!-- Users Datatable -->
<div class="card shadow my-4 mx-2 mx-md-5">
  <div class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-light">Usuários</h6>
    {{registerForm}}
  </div>

  <div class="card-body border border-white">
    <div class="table-responsive">
      <table class="table table-bordered table-striped bg-white shadow-sm" id="usersTable" width="100%" cellspacing="0">
        <thead class="text-white" style="background-color: #c0c0c0">
          <tr>
            <th style="text-align: center">Foto</th>
            <th style="text-align: center">Nome</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">CPF</th>
            <th style="text-align: center">Ações</th>
          </tr>
        </thead>
        <!--tfoot class="text-white" style="background-color: #858796">
          <tr>
            <th style="text-align: center">Foto</th>
            <th style="text-align: center">Nome</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">CPF</th>
            <th style="text-align: center">Ações</th>
          </tr>
        </tfoot-->
        <tbody>
          {{noAdministratorsUsersTableBody}}
        </tbody>
      </table>
    </div>
  </div>
</div>


{{editForm}}



<!-- Delete User Script -->
<script>
  const deleteUserButtons = document.querySelectorAll(".delete-user-button");
  deleteUserButtons.forEach((button) =>
    button.addEventListener("click", async (e) => {
      e.preventDefault();

      Swal.fire({
        text: "Você tem certeza que deseja excluir esse usuário?",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Confirmar",
        backdrop: "rgba(0,0,0,0.7)",
        background: "#f2f2f2",
        customClass: {
          confirmButton: "btn-primary",
          cancelButton: "btn-danger"
        },
      }).then(async (result) => {

        if (result.isConfirmed) {

          Swal.fire({
            title: "Exluindo usuário...",
            didOpen: async () => {
                Swal.showLoading();
            },
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
          });

          const response = await deleteUser(button.dataset.userCpf);


          if (response.success) {

            Swal.fire({
              title: "<h3>Usuário excluído com sucesso!</h3>",
              icon: "success",
              iconHtml: '<i class="fas fa-check-circle text-success"></i>',
              backdrop: "rgba(0,0,0,0.7)",
              background: "#f2f2f2",
              customClass: {
                icon: "custom-icon-class",
                confirmButton: "btn-primary"
              },
            }).then(() => {
              const userLineContent= document.querySelector(`#userLineContent${button.dataset.userCpf}`);
              userLineContent.remove();
            });
      
          } else {
            Swal.fire({
              title: "<h3>Falha ao excluir usuário!</h3>",
              html: response.message,
              icon: "error",
              iconHtml: `<i class="fas fa-times-circle text-danger"></i>`,
              backdrop: "rgba(0,0,0,0.7)",
              background: "#f2f2f2",
              customClass: {
                icon: "custom-icon-class",
                confirmButton: "btn-primary"
              },
            }).then(() => {
              window.location.reload()
            });
          }
        } 
      });
    })
  );


  async function deleteUser(userCpf) {
    try {
        const response = await fetch("/user/delete/" + userCpf, {
          method: "POST",
        });

         return await response.json();

    } catch(error) {
      return {
        success: false,
         message: "Erro na conexão. Pro favor, recarregue a página e tente novamente."
      };
    }
  }

</script>



<!--Set Delete Buttons Tooltip-->
<script>

  $(document).ready(() => {
    $(".delete-user-button").tooltip();
  });

</script>