
:root {
    --white: #ffffff;
    --black: #3C3C3C;
    --gray-1: #747474;
    --gray-2: #C5C5C5;
    --gray-3: #e1e6eb;
    --blue: #224282;
    --light-blue: #245799;
    --dark-blue: #143169;
    --bs-dropdown-link-active-bg: #F8F9FA !important;

    --background: #ffffff;
    --secondary-background: #F8F9FA;
    --text: #3C3C3C;

    --ck-z-default: 100;
    --ck-z-panel: calc( var(--ck-z-default) + 999 );
}



body.sidebar-toggled .sidebar-brand-icon.small-img {
    display: block !important;
}


body.sidebar-toggled .sidebar-brand-text.large-img {
    display: none !important;
}



.news-card {
    background-color: var(--background); 
    cursor: pointer; transition: transform 0.3s ease;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border: solid 1.6px var(--gray-2); 
    overflow: hidden;
}


.news-card:hover {
    transform: scale(1.02);
}




.news-image {
    object-fit: cover;
}



#registerImageContainer, 
#editImageContainer {
    cursor: pointer; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}



.news-image-overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    visibility: hidden;
}




.title {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}


#dropdown {
    position: sticky;
}


#accordionSidebar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    height: 100vh; 
    z-index: 1000;
    background-color: #143169 !important; 
    color: #ffffff !important;
}



.sidebar-brand {
    background-color: #143169 !important; 
    border-bottom: 1.5px solid rgba(191, 195, 201, 0.5);
}


.sidebar .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link {
    background-color: #3e4a61 !important;
}



.sidebar .nav-item:hover .nav-link, 
.navbar-nav .nav-item:hover .nav-link {
    background-color: #4a5672 !important;
}



.navbar-nav .nav-item:hover #userDropdown {
    background-color: #ffffff !important;
    border-bottom: 1.5px solid rgba(191, 195, 201, 0.5);
}




.card-header, 
.modal-header {
    /*background: linear-gradient(180deg, #242d38 0%, #273341 100%) !important;*/
    background: linear-gradient(45deg, #224282, #245799, #143169) !important;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    border-radius: 5px 5px 0 0; 
}


.card-body, 
.modal-body, 
.modal-footer {
    background-color: #f2f2f2;
}


.card-footer {
    background: linear-gradient(180deg, #242d38 0%, #273341 100%) !important;
    background: linear-gradient(45deg, #224282, #245799, #143169) !important;
    padding: 10px;
    border-top: 1px solid #ccc; 
    border-radius: 0 0 5px 5px; 
}


.topbar {
    background-color: var(--gray-3);
    border-bottom: 1.5px solid rgba(191, 195, 201, 0.5);
}




.footer {
    background-color: var(--gray-3);
    border-top: 1.5px solid rgba(191, 195, 201, 0.5);
}



a {
    color: #4e73df; 
}

a:hover {
    color: #1e90ff; 
}



::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: var(--gray-3); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-2);
    border-radius: 2px; 
}

::-webkit-scrollbar-horizontal {
    height: 10px; 
}

::-webkit-scrollbar-track-horizontal {
    background-color:var(--gray-3); 

}

::-webkit-scrollbar-thumb-horizontal {
    background-color: var(--gray-2);
    border-radius: 2px; 
}



#overlay {
    display:flex;
    justify-content: center;
    align-items: center;

    position:fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    background: #18181c;
    opacity: 0.7;
    filter: alpha(opacity=50);
    z-index: 2050;
}


.card-overlay {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0px;
}



.modal-overlay {
    display:flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #18181c;
    opacity: 0.7;
    filter: alpha(opacity=50);
    z-index: 2050;

}


.custom-icon-class {
    font-size: 14px;
}


  /* This selector targets the editable element (excluding comments). */
  .ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 380px;
    overflow-y: auto;
    font-size: 16px;
    resize: none;
    border: solid 1.6px #d1d3e2;
    padding: 8px;
    color: #5a5c69;
  }



@media (orientation: landscape){
    .news-card-content{
        flex-direction: row !important;
    }

    .news-image {
        height: 180px;
    }

    #registerImageContainer, 
    #editImageContainer {
        height: 300px;
    }

 }



 @media (orientation: portrait){
   .news-image{
        height: 20vh;
        min-height: 20vh;
        max-height: 20vh;
    }


    #registerImageContainer, 
    #editImageContainer {
        height: 200px;
    }
 }



 @media (orientation: portrait) and (min-width: 1024px){
    .news-image{
         height: 15vh;
         min-height: 15vh;
         max-height: 15vh;
     }
 
  }




